<div class="testimonials">
  {% for block in section.blocks %}
    <div class="testimonial">
      <blockquote>"{{ block.settings.quote }}"</blockquote>
      <p>– {{ block.settings.author }}</p>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Testimonials",
  "blocks": [
    {
      "type": "quote",
      "name": "Testimonial",
      "settings": [
        {
          "type": "text",
          "id": "quote",
          "label": "Quote"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Text"
    }
  ]
}
{% endschema %}
